[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
form = "*"
django-crispy-forms = "*"
environs = {extras = ["django"], version = "*"}
gunicorn = "*"
django-heroku = "*"
psycopg2-binary = "*"
whitenoise = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
