{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<br />
<div class="jumbotron message-board">
    <div>
        <h1 class="display-4">Community Posts</h1>
        <p class="lead">Voice local communtiy happenings and events</p>
        <p></p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">View All Articles</a>
        </p>
    </div>
</div>

<br />
<div class="jumbotron weather">
    <div>
        <h1 class="display-4">Global Weather</h1>
        <p class="lead">Search the forecast for any city</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'weather' %}" role="button">Check the Weather</a>
        </p>
    </div>
</div>
{% endblock content %}