{% extends 'base.html' %}

{% block title %}Messages{% endblock title %}

{% block content %}
<br/>
<div class="jumbotron">
    <h1 class="display-4">Message Guidelines for Texas Connect</h1>
    <p class="lead">From the editors and the community at large</p>
    <p>If your article is deemed by the editor-at-large to be inappropriate it will be removed from the site. We don't tolerate racial offensivness, sexism, discrimination of any type. Please be courteous and respectful of your neightbors when creating a post. </p>

    <p>If you have a sense of humor, please submit an article. If you have words of a more serious nature, please submit an article. We tend to keep topics open, but use your best judgement. If you write tin cans and sent them to the landfill they'd probably stay there for a long, long time. If you write paper straws then you can watch them become part of the environment again. Don't leave tin can words and statements. Debate is fine but slander is not. </p>
    <p class="lead">
    <a class="btn btn-primary btn-sm" href="{% url 'home' %}"
    role="button">Return to Home page</a>
    </p>
</div>
{% endblock content %}